---
export type Props = {
  tags: any;
  uploadAt: string;
  charCount: number;
};

const { tags, uploadAt, charCount: wordCount } = Astro.props;
---

<ul class="flex flex-wrap gap-2">
  {
    tags
      ? tags.map((tag: { id: unknown; }) => (
          <li class="badge">
            <a href={`/blog/tags/${tag.id}`}>{tag.id}</a>
          </li>
        ))
      : undefined
  }
  <li class="badge badge-success">{uploadAt}</li>
  <li class="badge badge-accent">{wordCount} chars</li>
  <li class="badge badge-info">{Math.round(wordCount / 400).toString()}min to read</li>
</ul>
